<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Addition</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Adding the Student Information</h1>
    <form action="" method="post">
        <label>Roll No:</label>
        <input type="text" name="roll No" required >
        <label>Name:</label>
        <input type="text" name="name" required>
        <label>Age:</label>
        <input type="number" name="age" required>
        <label>Class:</label>
        <input type="text" name="class" required>
        <label>Section:</label>
        <input type="text" name="section" required>

        <input type="submit" value="Save_Details">
    </form>
</body>
</html>